/* Header */

header {
  background: url(./public/images/Rectangle\ 31.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Nav */

#nav {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-links {
  display: none;
}

#nav .logo {
  color: #fff;
  font-family: Ribeye;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  letter-spacing: 1.44px;
}

#nav .pramary-btn {
  display: none;
}

.pramary-btn {
  padding: 0.3rem 0.7rem;
  border: none;
  border-radius: 6px;
  background: #c9453b;
  color: #fff;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

/* Landing Page */

#landing-page {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
}

#landing-page h1 {
  text-align: center;
  color: #fff;
  font-family: Gelasio;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem; /* 78px */
  height: 6rem;
}

#landing-page p {
  text-align: center;
  color: #fff;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3rem; /* 28.8px */
  height: 5rem;
}

/* Popular Location */
#cards,
.card {
  display: flex;
}

#Popular-Location {
  padding: 2rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#cards {
  gap: 2.5rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  /* padding: 1rem; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}

.card:hover {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  box-shadow: 0px 6px 35px 0px rgba(0, 0, 0, 0.08);
}

.card h2 {
  color: #000;
  text-align: center;
  font-family: Gelasio;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 36px */
}

.card p {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4rem;/
}

.card-img-container {
  /* height: 231px; */
  flex-shrink: 0;
}

.card-content {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  flex-direction: column;
}

.heading {
  color: #000;
  font-family: Gelasio;
  /* font-size: 43px; */
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 60.2px */
}

.description {
  max-width: 38rem;
  color: #000;
  text-align: center;
  font-family: Roboto;
  /* font-size: 18px; */
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  /* line-height: 160%; 28.8px */
  line-height: 1rem;
}

.blog-img-container {
  padding: 1rem;
  border: lightgray 50%;
  width: 450px;
}

/* blog-news */
#blog-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  flex-wrap: wrap;
}

#news {
  display: flex;
  flex-direction: column;
}

.blog-card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  text-align: center;
}

.blog-card h1 {
  color: #000;
  font-family: Gelasio;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 32px */
}

.blog-card p {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  max-width: 35rem;
}

.blog-card a {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
}

/* footer */

#footer {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 2rem;
  background: rgba(38, 148, 153, 0.04);
}

#social-media {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

#social-media  img {
  width: 20px;
}

#footer-links {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
}

#footer-content .logo {
  color: #000;
  font-family: Ribeye;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  letter-spacing: 1.44px;
}

#footer-content p,
#footer-content a {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  letter-spacing: 0.96px;
  margin-bottom: 1.5rem;
}

#footer-links ul h2,
#footer-links li a,
#footer-links li {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  letter-spacing: 0.96px;
  margin-bottom: 1rem;
}

#footer-contact h2 {
  margin-bottom: 2rem;
}

#footer-contact h2 {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
  letter-spacing: 1.2px;
}

#email-container input {
  border-radius: 5px;
  border: 2px solid #000;
  opacity: 0.5;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  text-indent: 1rem;
  color: black;
}

.secondary-btn {
  border: none;
  padding: 0.2rem 1rem;
  border-radius: 5px;
  background: #c9453b;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.96px;
}

@media screen and (min-width: 500px) {
  /* #Popular-Location  */
  .card {
    width: 310px;
    height: 410px;
  }
  .card-content {
    gap: 0.5rem;
  }
}

@media screen and (min-width: 551px) {
  /* Landing Page */
  #landing-page {
    padding: 3rem;
  }

  #landing-page h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
  #landing-page p {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
  .pramary-btn {
    padding: 0.7rem 1rem;
  }

  /* #Popular-Location  */

  #Popular-Location {
    padding: 3rem;
    gap: 1.5rem;
  }
  .heading {
    font-size: 3rem;
  }

  .description {
    font-size: 1.1rem;
  }
}

/* 700px */

@media screen and (min-width: 700px) {
  /* Nav */
  #nav {
    padding: 1.5rem 3.2rem;
    justify-content: center;
  }

  #nav .pramary-btn {
    display: block;
    margin-left: auto;
    margin-right: 1.5rem;
  }

  #nav .pramary-btn {
    padding: 0.5rem 1rem;
  }

  /* Landing Page */

  #landing-page {
    gap: 1.9rem;
  }
}

/* 800px */

@media screen and (min-width: 701px) {
  #landing-page {
    justify-content: flex-start;
    align-items: first baseline;
  }

  #landing-page h1 {
    font-size: 2.7rem;
    text-align: left;
    line-height: 3rem;
  }

  #landing-page p {
    font-size: 1.3rem;
    width: 25rem;
    text-align: left;
    line-height: 1.3rem;
  }

  #Popular-Location {
    padding: 3rem;
    gap: 2rem;
  }

  /* From Blog & News */
  #news {
    padding: 10rem;
    display: grid; 
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    
 }
   
 #item-0 {
 
    /* background-color: #5B5F87;  */
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 3;
    grid-column-end: 3;
    
 }
 #item-1 {
 
    /* background-color: #C57DDE;  */
    grid-row-start: 1;
    grid-column-start: 3;
 
    grid-row-end: 3;
    grid-column-end: 4;
    
 }

 #item-1 .blog-img-container {
  width: 250px;
 }
}

/* 900px */

@media screen and (min-width: 900px) {
  /* Nav */

  #nav {
    padding-inline: 5rem;
    justify-content: space-between;
  }

  #nav .pramary-btn {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }

  #menu {
    display: none;
  }
  #nav-links {
    display: flex;
    gap: 2.3rem;
  }

  #nav-links li a {
    cursor: pointer;
    color: #fff;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    transition: color 0.3s;
  }

  #nav-links li a:hover {
    color: #333;
    text-decoration: underline;
  }

  /* Landing Page */
  #landing-page {
    padding-inline: 5rem;
    padding-bottom: 10rem;
  }

  #landing-page h1 {
    font-size: 2.9rem;
  }
}

@media screen and (min-width: 1201px) {
  /* Nav */

  #nav-links {
    gap: 3.5rem;
  }

  /* Landing Page */
  #landing-page {
    padding-top: 7rem;
    padding-bottom: 12rem;
    padding-inline: 8rem;
    gap: 2.2rem;
  }

  #landing-page h1 {
    font-size: 3.5rem;
    line-height: 3.7rem;
  }

  #landing-page p {
    font-size: 1.2rem;
    width: 30rem;
    text-align: left;
    line-height: 1.5rem;
    color: #fff;
  }
  .pramary-btn {
    padding: 0.8rem 1.8rem;
  }

  /* #Popular-Location */

  .card {
    width: 250px;
    height: 354px;
  }
  .card h2 {
    font-size: 1.6rem;
  }

  .card p {
    font-size: 1rem;
  }

  /* From Blog & News */

}



